* {
    font-family: NotoSans Nerd Font, sans-serif;
    font-size: 13px;
}

window#waybar {
    border-radius: 10px;
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

#clock {
    background-color: #4C566A;
    padding: 3px;
    border-radius: 10px;
    color: #ECEFF4;
}

#network {
    background-color: #8FBCBB;
    padding: 3px;
    border-radius: 10px;
    color: #ECEFF4;
}

#temperature {
    background-color: #88C0D0;
    padding: 3px;
    border-radius: 10px;
    color: #ECEFF4;
}

#cpu {
    background-color: #81A1C1;
    padding: 3px;
    border-radius: 10px;
    color: #ECEFF4;
}

#memory {
    background-color: #5E81AC;
    padding: 3px;
    border-radius: 10px;
    color: #ECEFF4;
}

#pulseaudio {
    background-color: #D8DEE9;
    padding: 3px;
    border-radius: 10px;
    color: #2E3440;
}

#battery {
    background-color: #64727D;
    padding: 3px;
    border-radius: 10px;
}

#workspaces button {
    padding: 3px 5px;
    background: #4C566A;
    border-radius: 0px;
    color: #ECEFF4;
}

#workspaces button.focused {
    padding: 3px 5px;
    border-radius: 0px;
    background: #B48EAD;
}


